.form-bg {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 10px 50px 20px;
    border: #FEDCD2 1px solid;
    margin-top:40px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}

.monte-form-field {
    min-height:2.5rem;
    width:100%;
    border-radius: 8px;
    border: #FEDCD2 1px solid;
}

.btn-outline-info {
    color: #8FD8D2;
    border-color: #8FD8D2;
}

.blog-post-small {
    border-bottom: #DF744A 1px solid;
    padding: 20px 0px 45px 0px;
}

.small-text {
    font-size: .75rem;
    color:#BBBBBB;
    font-weight: 200;
}

.btn-group {
    margin-bottom: 20px;
}

.padded-top {
    margin-top: 20px;
}